* {
  margin: 0;
  padding: 0;
}

img {
  height: 800px;
  width: 100%;
}

.container {
  border: 2px sold black;
  position: relative;
  /* margin: 5rem; */

}

.left-btn,
.right-btn {
  border: 2px solid red;
  position: absolute;
  top: 33%;
  padding: 0.5rem;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.left-btn {
  left: 1.5rem;
}
.right-btn {
  right: 2.8rem;
}
