image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  text-align: center;
  height: 100%;
}
img {
  width: 160px;
  height: 120px;
  margin: 30px;
}

.box {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%
  ;
   
  
}

.pgination{
  border: 1px solid green;
  text-align: center;
}